<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- DB 접속 정보 -->
	<properties resource="connection-info.properties"/>
	
	<!-- 별칭 설정 -->
	<typeAliases>
	  <typeAlias type="com.greedy.common.SearchCriteria" alias="SC"/>
	  <typeAlias type="com.greedy.member.model.dto.ScheduleDTO" alias="DTO"/>
	</typeAliases>

  <environments default="dev">
    <environment id="dev">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
  	<package name="com.greedy.member.model.dao"/>
  </mappers>

</configuration>