<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greedy.member.model.dao.SqlMapper">

  <!-- 조회한 컬럼과 DTO를 매핑시키기 위한 설정으로 resultMap을 선언한다. -->
	 <resultMap type="com.greedy.member.model.dto.ScheduleDTO" id="DTO">
	  <id property="scheduleCode" column="SCHEDULE_CODE"/>
	  <result property="scheduleName" column="SCHEDULE_NAME"/>
	  <result property="scheduleDate" column="SCHEDULE_DATE"/>
	  <result property="scheduleTime" column="SCHEDULE_TIME"/>
	  <result property="schedulePay" column="SCHEDULE_PAY"/>
	  <result property="categoryCode" column="CATEGORY_CODE"/>
	  <result property="scheduleNote" column="SCHEDULE_NOTE"/>
	 </resultMap>

	<select id="selectAllMenu" resultMap="DTO">
		SELECT
			   *
		  FROM TB_SCHEDULE
	</select>
	<select id="searchByThis" parameterType="SC" resultMap="DTO">
		SELECT
			   *
	      FROM TB_SCHEDULE
	    <if test="condition == '연주'">
	    JOIN TB_INFO USING(CATEGORY_CODE)
	    </if>
	    <if test="condition == '레슨'">
		JOIN TB_INFO USING(CATEGORY_CODE)
		</if>
     <trim prefix="WHERE" prefixOverrides="AND | OR">
	    <if test="condition == '행사 이름'">
	    SCHEDULE_NAME LIKE '%' || #{value} || '%'
	    </if>
	    <if test="condition == '요일'">
	    SCHEDULE_DATE LIKE '%' || #{value} || '%'
	    </if>
	    <if test="condition == '연주'">
	    REF_CATEGORY_CODE IN ('1','2')
	    </if>
	    <if test="condition == '레슨'">
	    REF_CATEGORY_CODE IN ('3','4')
	    </if>
	 </trim>
	</select>


	<insert id="insertSchedule" parameterType="DTO">
  	INSERT
  	  INTO TB_SCHEDULE
  	(
  	  SCHEDULE_CODE
  	, SCHEDULE_NAME
  	<if test="scheduleDate != null and scheduleDate !='' ">
  	, SCHEDULE_DATE
  	</if>
  	<if test="scheduleTime != null and scheduleTime !=''"> 
  	, SCHEDULE_TIME
  	</if>
  	, SCHEDULE_PAY
  	, CATEGORY_CODE
  	, SCHEDULE_NOTE
  	)
  	VALUES
  	(
  	  SEQ_SCHEDULE_CODE.NEXTVAL
  	, #{scheduleName}
  	<if test="scheduleDate != null and scheduleDate !='' ">
  	, #{scheduleDate}
  	</if>
  	<if test="scheduleTime != null and scheduleTime !=''"> 
  	, #{scheduleTime}
  	</if>
  	, #{schedulePay}
  	, #{categoryCode}
  	, #{scheduleNote}
  	)
	</insert>

	<update id="modifySchedule" parameterType="DTO" >
	  UPDATE TB_SCHEDULE
	  <trim prefix="SET" prefixOverrides=",">
	     <if test="scheduleName != null and scheduleName != ''">
	  	   SCHEDULE_NAME = #{scheduleName}    
	    </if>
	    <if test="scheduleDate != null and scheduleDate != ''">
	       , SCHEDULE_DATE = #{scheduleDate}
	    </if>
	    <if test="scheduleTime != null and scheduleTime != ''">
	       , SCHEDULE_TIME = #{scheduleTime}
	    </if>
	    <if test="schedulePay != null and schedulePay gt 0">
	       , SCHEDULE_PAY = #{schedulePay}
	    </if>
	    <if test="categoryCode != null and categoryCode gt 0">
	       , CATEGORY_CODE = #{categoryCode}    
	    </if>
	    <if test="scheduleNote != null and scheduleNote !=''">
	       , SCHEDULE_NOTE = #{scheduleNote}
	    </if>
	  </trim>
	  WHERE SCHEDULE_CODE = #{scheduleCode}
	</update>

	<delete id="deleteSchedule" parameterType="_int">
	  DELETE 
	    FROM TB_SCHEDULE
	   WHERE SCHEDULE_CODE = #{here}
	</delete>



























</mapper>